<div class="header">
  <div class="container">
    <img src="https://s-media-cache-ak0.pinimg.com/236x/b4/81/28/b481284c1f0c80b0d999d51112cb550d.jpg" width="80">
    <h1>Guinea Pigs</h1>
  </div>
</div>

<div class="destination">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= image_tag @destination.image %>
        <h2><%= @destination.name %></h2>
        <p><%= @destination.description %></p>
        <%= link_to "Edit", edit_destination_path(@destination) %>
      </div>
    </div>
  </div>
</div>